<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <script src="/htmx.min.js"></script>
    <title>Resume</title>
</head>
<body>
<div id="language-picker"
     class="language no-padding no-margin"
     hx-get="/ui/translate"
     hx-vals='{"action": "init"}'
     hx-trigger="session-created from:body, session-found from:body"
     hx-params="*"
     hx-swap="outerHTML swap:100ms">
    <ul class="no-padding no-margin">
        <li class="lang-btn">
            EN <img src="./flags/us.svg">
        </li>
    </ul>
</div>
<div class="body">
    <div class="header fade" hx-get="/ui/header" hx-trigger="load">
        <img class="htmx-indicator loading-spinner" src="./spinner.svg"/>
    </div>
    <div class="skills fade" hx-get="/ui/skills" hx-trigger="load, session-created from:body" hx-swap="outerHTML">
        <img class="htmx-indicator loading-spinner" src="./spinner.svg"/>
    </div>
    <div id="experience fade" class="experience" hx-get="/ui/experience" hx-trigger="load, session-created from:body"
         hx-swap="outerHTML">
        <img class="htmx-indicator loading-spinner" src="./spinner.svg"/>
    </div>
    <div class="cci fade" hx-get="/ui/cci" hx-trigger="load, session-created from:body" hx-swap="outerHTML">
        <img class="htmx-indicator loading-spinner" src="./spinner.svg"/>
    </div>
    <div class="early-career fade" hx-get="/ui/early" hx-trigger="load, session-created from:body" hx-swap="outerHTML">
        <img class="htmx-indicator loading-spinner" src="./spinner.svg"/>
    </div>
    <div class="education fade" hx-get="/ui/education" hx-trigger="load, session-created from:body" hx-swap="outerHTML">
        <img class="htmx-indicator loading-spinner" src="./spinner.svg"/>
    </div>
    <div class="session" hx-get="/ui/session" hx-trigger="load"></div>
</div>
</body>
</html>
