<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <script src="/htmx.min.js"></script>
    <title>Resume</title>
</head>
<body>
<div hx-get="/ui/banner"
     hx-trigger="load"
     hx-swap="outerHTML"
     class="invisible">
</div>
<div class="whole-fixed no-print">
    <div id="language-picker"
     class="left-side no-padding no-margin"
     hx-get="/ui/translate"
     hx-vals='{"action": "init"}'
     hx-trigger="session-created from:body, session-found from:body"
     hx-params="*"
     hx-swap="outerHTML swap:100ms">
    <ul class="no-padding no-margin no-bullets">
        <li class="is-a-button">
            EN <img class="flag-img" alt="USA flag icon" src="./flags/us.svg">
        </li>
    </ul>
</div>
<div class="right-side is-a-button" onclick="print()">Print/Download</div>
</div>
<div class="body standard-size">
    <div class="centered fade" hx-get="/ui/header" hx-trigger="load">
        <img class="htmx-indicator loading-spinner" src="./spinner.svg"/>
    </div>
    <div class="skills fade" hx-get="/ui/skills" hx-trigger="load, session-created from:body" hx-swap="outerHTML">
        <img class="htmx-indicator loading-spinner" src="./spinner.svg"/>
    </div>
    <div id="experience fade" class="experience" hx-get="/ui/experience" hx-trigger="load, session-created from:body"
         hx-swap="outerHTML">
        <img class="htmx-indicator loading-spinner" src="./spinner.svg"/>
    </div>
    <div class="cci fade" hx-get="/ui/cci" hx-trigger="load, session-created from:body" hx-swap="outerHTML">
        <img class="htmx-indicator loading-spinner" src="./spinner.svg"/>
    </div>
    <div class="early-career fade" hx-get="/ui/early" hx-trigger="load, session-created from:body" hx-swap="outerHTML">
        <img class="htmx-indicator loading-spinner" src="./spinner.svg"/>
    </div>
    <div class="education fade" hx-get="/ui/education" hx-trigger="load, session-created from:body" hx-swap="outerHTML">
        <img class="htmx-indicator loading-spinner" src="./spinner.svg"/>
    </div>
    <div class="invisible" hx-get="/ui/session" hx-trigger="load"></div>
    <div class="footer centered no-print">
        <a href="https://github.com/menge101/resume">
            <img class="footer-logo" src="github-mark-white.svg" alt="Github logo"><span class="footer-text">Check out this project on Github!</span>
        </a>
    </div>
</div>
</body>
</html>
