  .language {
    float: left;
    position: fixed;
    background-color: #333333;
    z-index: 10;
    margin-left: 6vw;
    margin-top: 2vw;
}

.lang-btn {
    border-style: outset;
    border-color: #494949;
    display: flex;
    align-content: center;
}

.lang-btn img {
    height: 1em;
    padding-left: 3px;
    border: white;
}
