@import "basic.css";
@import "fade.css";
@import "print.css";

body {
    color: oklch(97.51% 0.0127 244.25);
    background-color: oklch(32.11% 0 0);
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

a:link {
    color: oklch(97.51% 0.0127 244.25);
}

a:visited {
    color: oklch(97.51% 0.0127 244.25);
}

a:visited:hover {
    color: oklch(45.7% 0.2105 327.42);
}

a:visited:active {
    color: oklch(67.8% 0.3128 327.42);
}

a:hover {
    color: oklch(76.85% 0.1707 229.67);
}

a:active {
    color: oklch(54.45% 0.2382 270.8);
}

div.body {
    text-align: left;
    display: block;
}

@media not print {
    div.body {
        margin-left: 11vw;
        margin-right: 11vw;
        line-height: 1.2em;
    }
}

.banner {
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 4px;
}

.loading-spinner {
    shape-rendering: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flag-img {
    height: 1em;
    padding-left: 3px;
}

.footer {
    line-height: 1.1em;
}

.footer-logo {
    height: 3.3em;
}

.footer-text {
    display: block;
}


