@import "basic.css";
@import "fade.css";
@import "language.css";

body {
    color: aliceblue;
    background-color: #333333;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

div.body {
    text-align: left;
    display: block;
    margin-left: 11vw;
    margin-right: 11vw;
    line-height: 1.2em;
}

.header {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6em;
}

.loading-spinner {
    shape-rendering: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.session {
    max-height: 0;
    visibility: hidden;
}
