@import "basic.css";
@import "fade.css";
@import "print.css";

body {
    color: aliceblue;
    background-color: #333333;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

div.body {
    text-align: left;
    display: block;
}

@media not print {
    div.body {
        margin-left: 11vw;
        margin-right: 11vw;
        line-height: 1.2em;
    }
}

.banner {
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 4px;
}

.header {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6em;
}

.loading-spinner {
    shape-rendering: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flag-img {
    height: 1em;
    padding-left: 3px;
}
